{{!< default}}
<div class="container">
	<div class="jumbotron">
		
      <img src="https://calidad.elegircolegio.com/images/made/images/uploads/logos/fatima-roca_298_298_imagespattern_ec_img_300.png_80_80_65_bor1_cccccc_s.png" alt="logo" width="180">
		<h1>Versículo del Dia</h1>
		<h3> {{data.libro}} {{data.capitulo}}:{{data.nVersiculo}} <i>"{{data.versiculo}}"</i> </h3>
		{{!-- <p>This is your new <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a> website.</p>
		<p>
			It includes the latest versions of
			<a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
			and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
		</p>
		<p>Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.</p>
		<hr>
		<p>We have created a default Admin user for you with the email <strong>guidocanevello@hotmail.com</strong> and the password <strong>123456</strong>.</p>
		<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>
		<hr>
		<p>
			Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
			<a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
		</p> --}}
	</div>
</div>
